﻿@using OnlineTesting.Models.AnswersViewModels
@model AnswerVM

<form asp-action="Save">
    <div class="form-horizontal">
        <h4>AnswerVM</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="QuestionId"/>
        <input asp-for="TestId"/>
        <input asp-for="Id"/>
        <input asp-for="IsActive"/>

        <div class="form-group">
            <label asp-for="Text" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Text" class="form-control"/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsCorrect"/>
                    <label asp-for="IsCorrect"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@SharedLocalizer["Submit"]" class="btn btn-primary"/>
                <a asp-action="Index"
                   asp-route-testId="@Model.TestId"
                   asp-route-questionId="@Model.QuestionId"
                   class="btn btn-default">
                    @SharedLocalizer["Back"]
                </a>
                <a class="btn btn-danger"
                   asp-action="Cancel"
                   asp-controller="TestManagement"
                   asp-route-testId="@Model.TestId">
                    @SharedLocalizer["Cancel"]
                </a>
            </div>
        </div>
    </div>
</form>