﻿@model OnlineTesting.Models.AnswersViewModels.AnswersIndexVM


<div asp-validation-summary="ModelOnly" class="text-danger"></div>


<p>
    <a asp-action="Create" asp-route-questionId="@Model.QuestionId" asp-route-testId="@Model.TestId">@SharedLocalizer["Create"]</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Answers.First().Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answers.First().IsCorrect)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Answers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrect)
            </td>
            <td>
                <a
                    asp-action="Edit"
                    asp-controller="Answers"
                    asp-route-id="@item.Id"
                    asp-route-testId="@item.TestId"
                    asp-route-questionId="@item.QuestionId">
                    @SharedLocalizer["Edit"]
                </a> |
                <a asp-action="Delete"
                   asp-controller="Answers"
                   asp-route-id="@item.Id"
                   asp-route-testId="@item.TestId"
                   asp-route-questionId="@item.QuestionId"
                   class="delete">
                    @SharedLocalizer["Delete"]
                </a>

            </td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a class="btn btn-primary"
       asp-action="Submit"
       asp-route-questionId="@Model.QuestionId"
       asp-route-testId="@Model.TestId">
        @SharedLocalizer["Submit"]
    </a>
    <a class="btn btn-default"
       asp-action="Edit"
       asp-controller="Questions"
       asp-route-id="@Model.QuestionId"
       asp-route-testId="@Model.TestId">
        @SharedLocalizer["Back"]
    </a>
    <a class="btn btn-danger"
       asp-action="Cancel"
       asp-controller="TestManagement"
       asp-route-testId="@Model.TestId">
        @SharedLocalizer["Cancel"]
    </a>

</p>