@using OnlineTesting.Interfaces
@model OnlineTesting.Models.HomeViewModels.SearchVM
@inject ITestManagementService TestManagementService
<style>
    
    .search-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
</style>

<form asp-controller="Home" asp-action="Index" method="post" class="search-form">

    <div class="form-group  col-xs-4 col-md-4">
        <label asp-for="Name" class=" control-label"></label>
            <input asp-for="Name" class="form-control"/>
    </div>

    <div class="form-group col-xs-4 col-md-4">
        <label asp-for="CategoryId" class=" control-label"></label>
        @Html.DropDownListFor(vm => vm.CategoryId, TestManagementService.GetSelectableCategories(),"", new {@class = "form-control"})
    </div>
    
    <div class="form-group  col-xs-4 col-md-4">
        <label asp-for="Difficulty" class=" control-label"></label>
            @Html.DropDownListFor(vm => vm.Difficulty, new SelectList(Enumerable.Range(1, 10)),"", new {@class = "form-control"})
    </div>

    <div style="margin-left: 15px">
        <button type="submit" class="btn btn-default">@SharedLocalizer["Filter"]</button>
    </div>

</form>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tests.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tests.First().CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tests.First().Difficulty)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Tests)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                <a asp-action="Start" asp-controller="Home" asp-route-id="@item.Id">
                    @SharedLocalizer["Start"]
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>