@using OnlineTesting.Interfaces
@model OnlineTesting.Models.HomeViewModels.RatingsVM

@inject ITestManagementService TestManagementService

<form asp-controller="Home" asp-action="Ratings" method="Get" class="search-form">

    <div class="form-group col-xs-12 ">
        <label asp-for="TestId" class=" control-label"></label>
        @Html.DropDownListFor(vm => vm.TestId,
            TestManagementService.GetTests().Select(vm => new SelectListItem() {Text = vm.Name, Value = vm.Id}),
            "",
            new {@class = "form-control"}
        )
    </div>
    <div style="margin-left: 15px">
        <button type="submit" class="btn btn-default">@SharedLocalizer["Filter"]</button>
    </div>

</form>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ratings.First().User.Username)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Ratings.First().Score)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Ratings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
        </tr>
    }
    </tbody>
</table>