﻿@model IEnumerable<OnlineTesting.Models.TestingViewModels.TestResultVM>


<table class="table" id="results-table">
    <thead>
        <tr>

            <th>
                    @Html.DisplayNameFor(model => model.TestId)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Test.CategoryId)
            </th>

            <th>
                    @Html.DisplayNameFor(model => model.DatePassed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccumulatedScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRated)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Test.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePassed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccumulatedScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRated)
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $('#results-table').dataTable({
        'language': site.DataTableLanguage
    });
    
</script>