@model OnlineTesting.Models.TestViewModels.TestVM

@inject IViewLocalizer Localizer

<div>
    <h4>TestVM</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
    </dl>
</div>
<div>
    <form asp-controller="Testing" asp-action="Start" method="post" class="form-horizontal">

            <input asp-for="Id"/>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <input type="checkbox"  id="isRated" name="isRated" value="true"/>
                        <label for="isRated">@Localizer["isRated"]</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">@SharedLocalizer["Start"]</button>
                </div>
            </div>

    </form>
</div>

<a asp-action="Index">@SharedLocalizer["Back"]</a>