﻿@using OnlineTesting.Models.QuestionViewModels
@model OnlineTesting.Models.QuestionViewModels.QuestionVM

<form asp-action="Save">
    <div class="form-horizontal">
        <h4>QuestionVM</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="Id"/>
        <input asp-for="TestId"/>
        <input asp-for="IsActive"/>

        <div class="form-group">
            <label asp-for="Time" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Time" class="form-control"/>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Score" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(
                    model => model.Score,
                    new SelectList(Enumerable.Range(1, 5)),
                    new {@class = "form-control"}
                    )
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Text" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Text" class="form-control"/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@SharedLocalizer["Next"]" class="btn btn-primary"/>
                <a asp-action="Index"
                   asp-route-testId="@Model.TestId"
                   class="btn btn-default">
                    @SharedLocalizer["Back"]
                </a>
                <a class="btn btn-danger"
                   asp-action="Cancel"
                   asp-controller="TestManagement"
                   asp-route-testId="@Model.TestId">
                    @SharedLocalizer["Cancel"]
                </a>

            </div>
        </div>

    </div>
</form>