﻿@using OnlineTesting.Models.QuestionViewModels
@model QuestionsIndexVM


<div asp-validation-summary="ModelOnly" class="text-danger"></div>


<p>
    <a asp-action="Create" asp-route-testId="@Model.TestId">@SharedLocalizer["Create"]</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Questions.First().Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questions.First().Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questions.First().Text)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Questions)
    {
        <tr
            @if (ViewData.ModelState.ContainsKey(item.Id))
            {
                <text>
                    class="alert alert-danger"
                </text>
            }
        >
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <a asp-action="Edit"
                   asp-controller="Questions"
                   asp-route-id="@item.Id"
                   asp-route-testId="@item.TestId">
                    @SharedLocalizer["Edit"]
                </a> |
                <a class="delete"
                   asp-action="Delete"
                   asp-controller="Questions"
                   asp-route-id="@item.Id"
                   asp-route-testId="@item.TestId">
                    @SharedLocalizer["Delete"]
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-action="Submit" asp-route-testId="@Model.TestId">@SharedLocalizer["Submit"]</a>
    <a class="btn btn-default" asp-action="Save" asp-controller="TestManagement" asp-route-id="@Model.TestId">@SharedLocalizer["Back"]</a>
    <a class="btn btn-danger" asp-action="Cancel" asp-controller="TestManagement" asp-route-testId="@Model.TestId">@SharedLocalizer["Cancel"]</a>
</p>