﻿@using Microsoft.AspNetCore.Mvc.Rendering
@using OnlineTesting.Interfaces
@using OnlineTesting.Models.TestViewModels

@model OnlineTesting.Models.TestViewModels.TestVM

@inject ITestManagementService TestManagementService


<form asp-action="Save">

    <div class="form-horizontal">
        <h4>TestVM</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="IsActive"/>
        <input asp-for="Id"/>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId" class="col-md-2 control-label"></label>

            <div class="col-md-10">
                @Html.DropDownListFor(vm => vm.CategoryId, TestManagementService.GetSelectableCategories(), new {@class = "form-control"})
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Difficulty" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(
                    vm => vm.Difficulty,
                    new SelectList(Enumerable.Range(1, 10)),
                    new {@class = "form-control"}
                    )
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@SharedLocalizer["Next"]" class="btn btn-primary"/>
                <a asp-action="Cancel" asp-route-testId="@Model.Id" class="btn btn-danger">@SharedLocalizer["Cancel"]</a>
            </div>
        </div>

    </div>

</form>