@using OnlineTesting.Models.TestViewModels
@model IEnumerable<TestVM>

<p>
    <a asp-action="Create">@SharedLocalizer["Create"]</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Difficulty)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                <a asp-action="Edit"
                   asp-controller="TestManagement"
                   asp-route-id="@item.Id">
                    @SharedLocalizer["Edit"]
                </a>|
                <a asp-action="Delete"
                   asp-controller="TestManagement"
                   asp-route-id="@item.Id"
                   class="delete">
                    @SharedLocalizer["Delete"]
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>