@model OnlineTesting.Models.TestingViewModels.NextVM

@inject IViewLocalizer Localizer
<form asp-action="Next">
    <div class="form-horizontal">

        <input asp-for="ResultId"/>
        <input asp-for="Question.Id" name="questionId"/>

        <div class="form-horizontal">

            <div class="lead col-md-offset-1">
                @Html.DisplayFor(vm => vm.Question.Text)
            </div>

            @for (var index = 0; index < Model.Question.Answers.Count; index++)
            {
                var item = Model.Question.Answers[index];

                <div class="checkbox col-md-offset-1">
                    <label>
                        <input class="answer-checkbox" type="checkbox" name="checked" value="@item.Id"/>
                        @Html.DisplayFor(vm => item.Text)
                    </label>
                </div>
            }

            <div class="form-group" style="margin-top: 15px">
                <div class="col-md-offset-2 col-md-10">
                    <input id="submit-button" type="submit" disabled value="@SharedLocalizer["Next"]" class="btn btn-default"/>
                </div>
            </div>
        </div>

    </div>
</form>


