@model OnlineTesting.Models.TestingViewModels.TestResultVM

@inject IViewLocalizer Localizer
<div>
    <h4>TestResultVM</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(vm => vm.Test.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Test.Category.Name)
        </dd>
        <dt>
            <label asp-for="TestId"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Test.Name)
        </dd>
        <dt>
            <label asp-for="DatePassed"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePassed)
        </dd>
        <dt>
            <label asp-for="AccumulatedScore"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccumulatedScore)
        </dd>
        <dt>
            <label asp-for="MaxScore"></label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxScore)
        </dd>
        <dt>
        </dt>
        <dd>
            <a
                class="btn btn-default"
                asp-action="Results"
                asp-controller="Home"
                >
                @Localizer["Results"]
            </a>
        </dd>

    </dl>
</div>


