﻿@{
    ViewData["Title"] = "Manage your account";
}

@inject IViewLocalizer Localizer

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>@Localizer["ChangeAccountSettings"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@SharedLocalizer["Password"]:</dt>
        <dd>
             <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">@SharedLocalizer["Change"]</a>
        </dd>
    </dl>
</div>
