@using OnlineTesting.Models.UserViewModels
@model OnlineTesting.Models.UserViewModels.UserVM

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>UserVM</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <input asp-for="Id" class="form-control"/>

        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsActive"/>
                    <label asp-for="IsActive"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@SharedLocalizer["Submit"]" class="btn btn-default"/>
            </div>
        </div>

    </div>
</form>

<div>
    <a asp-action="Index">@SharedLocalizer["Back"]</a>
</div>